body {
    font-family: 'open sans', sans-serif;
    font-size: 1em;
    background-color: azure;
    color: black;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead th, tbody td{
    text-align: left;
    border: 0.01em solid silver;
    padding: 0.5em;
}
table tr:nth-child(even) {
    background-color: lightcyan;
}

tbody tr:hover {
    background-color: paleturquoise;
}
table th {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    background-color: darkturquoise;
    color: white;
}

.button {
    padding-left: 1em;
    background-color: darkturquoise;
    cursor: grab;
}